<form id="new-message-form" class="d-flex align-items-center mb-3">
  <input type="text" placeholder="Contact your driver" class="form-control mr-3 rounded-pill" id="message_content">
  <i class="fas fa-paper-plane" id='submit-btn'></i>
</form>
