<form id="new-message-form" class="d-flex align-items-center mb-3">
  <input type="text" placeholder="<%= current_user.is_driver? ? 'Contact your customer' : 'Contact your driver' %>" class="form-control mr-3 rounded-pill" id="message_content">
  <button id="new-message-button" class="bg-transparent border-0">
    <i class="fas fa-paper-plane" id='submit-btn'></i>
  </button>
</form>
