<h1>Welcome</h1>

<p>
  <%= @greeting %>,
</p>



<p>Welcome <%= @user.email %>,</p>

<p>Welcome to Packed Right! Nice to have you on board. We'll be sending you occasional updates and promotional codes. We highly appreciate your feedback if anything, please email us.</p>

<p>See you soon,

Team Packed Right</p>
