<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link width100" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">

          <% if current_user.driver&.id == @order.driver&.id %>
            Message your customer!
          <% elsif current_user.id == @order.user_id %>
            Message your driver!
          <% end %>
        </button>
      </h5>
    </div>

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 col-sm-12 offset-sm-12">
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <%= render 'messages/form' %>
              <div id="message-list">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
