<div
class="positionmap"
id="map"
data-markers="<%= @markers.to_json %>"
data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
>
</div>
<%= render 'shared/navbar-new' %>
</div>

<% render 'shared/dropdown-form-order' %>
<% render 'shared/collapse-form' %>
<%= render 'shared/collapse-accordion-form' %>

<div class="display-flex justify-content-center m-3 p-3">
<h3 class="cursive">Let us take care of your package!</h3>
</div>

