<div class="map-container">

  <div
  class="positionmap top "
  id="map"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  >
  <%= render 'shared/navbar-new' %>
</div>

<div>
  <%= render 'shared/accordion-edit-order' %>
</div>
</div>

</div>

<!-- SHOW PICKUP LOCATION AND THE ASSIGNED DRIVER IN MARKERS -->
