

#message-list {
  display: flex;
  flex-direction: column;

  .driver-message {
    display: flex;
    justify-content: flex-start;
  }

  .user-message {
    display: flex;
    justify-content: flex-end;


  }

  .message {
    border: 1px solid gray;
    border-radius: 30px;
    padding: 5px 27px;
    margin: 3px 0;

  }
}
